@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-overlay {
  transition: left 0.05s linear, top 0.05s linear;
  overflow: hidden !important;
}

/* Container for the canvas */
.canvas-container {
  overflow: hidden;
  position: relative;
}